Source: boogie
Section: cli-mono
Priority: extra
Maintainer: Benjamin Barenblat <bbaren@mit.edu>
Build-Depends:
 debhelper (>= 9),
Build-Depends-Indep:
 cli-common-dev (>= 0.8),
 mono-devel (>= 2.4.2.3),
 mono-reference-assemblies-4.0,
Standards-Version: 3.9.7
Homepage: http://research.microsoft.com/en-us/projects/boogie/

Package: libboogie-cil
Architecture: all
Depends: ${cli:Depends}, ${misc:Depends}
Description: verifiable programming language
 Boogie is a compiler intermediate language with support for automatic invariant
 checking using an SMT solver such as Z3.  It supports program verification for
 a variety of other, higher-level languages, including Spec\#, C, Dafny, and
 Chalice.
 .
 This package contains the Boogie library.
